* {
    box-sizing: border-box;
  }
  
  :root {
    --background: #E5FFB3;
    --background-accent: #DBF8A3;
    --background-accent-2: #BDE66E;
    --light: #92DE34;
    --dark: #69BC22;
    --text: #025600;
  }
  
.admin-canvas{
    display: block;
    width: 400px;
    margin: 0 auto 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 30vh;
}

.edit-button{
    display: block;
    cursor: pointer;
    outline: none;
    border: none;
    background-color: var(--light);
    width: 400px;
    height: 70px;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text);
    background-size: 100% 100%;
    box-shadow: 0 0 0 7px var(--light) inset;
    margin-bottom: 15px;
  }
  
.edit-button:hover {
    background-image: linear-gradient(
      145deg,
      transparent 10%,
      var(--dark) 10% 20%,
      transparent 20% 30%,
      var(--dark) 30% 40%,
      transparent 40% 50%,
      var(--dark) 50% 60%,
      transparent 60% 70%,
      var(--dark) 70% 80%,
      transparent 80% 90%,
      var(--dark) 90% 100%
    );
    animation: background 3s linear infinite;
  }
  
  @keyframes background {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: 400px 0;
    }
  }

  body {
    font-family: 'lato', sans-serif;
}

.col-0{
    flex-basis: 5%;
}

a {
    text-decoration: none;
    display: inline-block;
    padding: 8px 16px;
    cursor: pointer;
  }
  
  a:hover {
    background-color: darkred;
    color: white;
  }
  
  .previous {
    background-color: darkred;
    color: white;
  }
  
  .around {
    background-color: #f1f1f1;
    color: black;
    border-radius: 50%;
  }

  .admin-list-item{
    display: flex;
    justify-content: space-between;
    padding: 25px 30px;
    margin-top: 10px;
    background-color: lightpink;
  }

  .insert-list-item{
    display: flex;
    justify-content: space-between;
  }

  .insert-client{
    flex-basis: 10%; 
    text-align: center;
    cursor: pointer;
  }

  .insert-client > p{
    margin: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    border: 2px solid greenyellow;
    font-weight: 700;
  }
  
  .insert-client > p:hover{
    animation: example 1s;
    animation-fill-mode: forwards;
  } 

  @keyframes example {
    0% {border-radius: 0px}
    10% {border-radius: 10px}
    20% {border-radius: 15px}
    30% {border-radius: 20px}
    40% {border-radius: 25px}
    50% {border-radius: 30px}
    60% {border-radius: 35px}
    70% {border-radius: 40px}
    80% {border-radius: 45px}
    90% {border-radius: 50px}
    100% {border-radius: 55px}
  }

  .col-id{
      flex-basis: 5%;
  }

  .col-fio{
    flex-basis: 10%;
  }
  .col-tel{
    flex-basis: 10%;
  }
  .col-adress{
    flex-basis: 20%;
  }
  .col-job{
    flex-basis: 15%;
  }
  .col-salary {
    flex-basis: 10%;
  }
  .col-callback{
    flex-basis: 10%;
  }
  .col-delete{
    flex-basis: 10%;
  }
  .col-update{
    flex-basis: 10%;
  }

.content > div > input{
    margin-top: 10px;
}

.content-insert {
  margin-top: 10px; 
  margin-bottom: 20px; 
  min-height: 50px;
  padding: 0 18px;
  flex-basis: 100%;
  display: none;
  overflow: hidden;
  background-color: rgba( 115,225,200, 0.3 )
}

.content-insert > div > input{
  margin-top: 10px;
}


.update{
    background-color: #92DE34;
    color: black;
    margin-top: 5px;
    margin-left: -10px;
}
.update:hover{
    background-color: #92DE34;
    color: black;
    margin-top: 5px;
    margin-left: -10px;
}

.col-id-service{
  flex-basis: 5%;
}
.col-service{
  flex-basis: 15%;
}
.col-service-desc{
  flex-basis: 70%;
  text-align: center;
}
.col-insert-service{
  flex-basis: 5%;
}
.col-update-service{
  flex-basis: 5%;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table > tbody  {
  background-color: #dddddd;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #009879;
}

.table-div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}