<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap" rel="stylesheet">
    <link href="styles/manager.css" rel="stylesheet">
</head>

<body>
    <div id="app" class="text-center">
        <div v-if="loggedIn" id="title-quote">
            Welcome {{username}}
        </div>

        <div v-if="loggedIn" class="row">
            <div v-if="admin">
                <div style="min-height: 50px; min-width: 50px; background: red">

                </div>
            </div>
            <div v-else-if="manager" class="manager">
                <div>
                    <ul class="responsive-table">
                        <li class="table-header" style="margin-bottom: 25px;">
                            <div class="col col-1">Ф И О</div>
                            <div class="col col-2">Телефон</div>
                            <div class="col col-3">Адрес проживания</div>
                            <div class="col col-4">Зарплата</div>
                            <div class="col col-5" style="padding-top: 15px;">Услуги</div>
                            <div class="col col-6" style="padding-top: 15px;">Еще</div>
                        </li>
                        <div v-for="client in clients" class="responsive-table">
                            <li class="table-row">
                                <div class="col col-1">{{client.name}}</div>
                                <div class="col col-2">{{client.phone}}</div>
                                <div class="col col-3">{{client.adress}}</div>
                                <div class="col col-4">{{client.salary}} &#8381</div>
                                <div class="col col-5">
                                    <div class="dropdown">
                                        <button class="dropbtn">•••</button>
                                        <div class="dropdown-content">
                                            <table v-for="service in services">
                                                <tr>
                                                    <td style="min-width: 200px;">{{service}}</td>
                                                    <td style="text-align: right;">
                                                        <img :src="getStatus()" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-6" style="font-size: larger;">
                                    <button class="collapsible" @click="more(event)">+</button>
                                </div>
                            </li>
                            <div class="content" v-if="isMore">
                                <table style="min-width: 100%;" v-for="service in services">
                                    <tr class="content-table">
                                        <td class="content-col1">{{service}}</td>
                                        <td class="content-col2">
                                            <label class="switch" v-html="getStatusExpanded()">
                                            </label>
                                        </td>
                                    </tr>
                                </table>
                                <div style="min-height: 50px;">
                                    <button class="submitbutton" style="position: absolute; right: 20px;">Apply</button>
                                </div>
                            </div>
                    </ul>
                </div>
            </div>
            <div v-else-if=" user">
                <div style="min-height: 50px; min-width: 50px; background: white">

                </div>
            </div>

        </div>
        <div v-else>
            <form>
                <div class="form">
                    <div id="login-informations">
                        <span v-for="item in loginInformations">
                            <span v-html="item"></span>
                        </span>
                    </div>
                    <div>
                        <input v-model="username" autocomplete="off" id="username" placeholder="Username"><br>
                        <input v-model="password" id="password" placeholder="Password"><br>
                        <button type="button" class="btn btn-primary" @click="submitNick">Log
                            In</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
<script>
    var socket = io({ upgrade: false });
    var app = new Vue({
        el: '#app',
        data: {
            admin: false,
            manager: false,
            user: false,
            loggedIn: false,
            loginInformations: ['<p>LogIn<p>'],
            clients: [],
            statuses: [],
            services: [],
            socketServer: socket,
            username: '',
            password: '',
            imagePath: '/img/',
            isMore: false,
            msg: "Before"
        },
        methods: {
            more(event) {
                this.extracted = []
                var parentSender = event.target.parentElement
                var grandparentSender = parentSender.parentElement
                var content = grandparentSender.nextElementSibling;
                displayStyle = getComputedStyle(content).display
                if (displayStyle === "none")
                    content.style.display = "block";
                else
                    content.style.display = "none";

                var status = parentSender.previousElementSibling.childNodes[0].childNodes[2].childNodes;
                statuses = []
                for (i = 0; i < status.length; i++) {
                    statuses.push(status[i].getElementsByTagName("img")[0].src.split("/").pop());
                }
                statuses.forEach(element => this.extracted.push(element.split('.')[0].replace("%20", " ")));
            },
            getStatus() {
                if (this.index === this.statuses.length - 1)
                    this.index = -1;
                this.index++;
                return this.imagePath + this.statuses[this.index] + ".png";
            },
            getStatusExpanded() {
                if (this.indexExpanded === this.statuses.length - 1)
                    this.indexExpanded = -1;
                this.indexExpanded++;
                if (this.statuses[this.indexExpanded] === "yes")
                    return '<input type = "checkbox"" checked disabled ><span class="slider round" style="box-shadow: 0 0 1px #2196F3; background-color: green;"></span>';
                else if (this.statuses[this.indexExpanded] === "no")
                    return '<input type = "checkbox" disabled ><span class="slider round" style="box-shadow: 0 0 1px #2196F3; background-color: red;"></span>';
                else
                    return '<input type = "checkbox" ><span onclick="test()" class="slider round"></span>';
            },

            emitDefend() {
                this.socketServer.emit('defend', this.nickname)
                this.$refs["attack-button"].disabled = true;
                this.$refs["defend-button"].disabled = true;
                setTimeout(() => { this.$refs["attack-button"].disabled = false; this.$refs["defend-button"].disabled = false; }, 2000);
            },
            emitAttack() {
                this.socketServer.emit('attack', this.nickname)
                this.$refs["attack-button"].disabled = true;
                this.$refs["defend-button"].disabled = true;
                setTimeout(() => { this.$refs["attack-button"].disabled = false; this.$refs["defend-button"].disabled = false; }, 1000);
            },
            submitNick() {
                var instance = axios.create({ headers: { "Access-Control-Allow-Headers": "*", "Access-Control-Allow-Credentials": "*", "Access-Control-Allow-Origin": "*" } })
                instance.post('http://localhost:1337/user', {
                    username: this.username,
                    password: this.password
                })
                    .then((response) => {
                        if (response.data.error) {
                            this.loginInformations.push('<p style="margin-left: -50px; color: red">Incorrect username<br>or passwrod!<p>')
                            setTimeout(() => { this.loginInformations.pop(1) }, 3000);
                            return;
                        }

                        if (response.data.admin)
                            this.admin = true;
                        else
                            this.manager = true;

                        this.loggedIn = true;

                        if (this.manager) {
                            this.services = response.data.services;
                            for (i = 0; i < response.data.data.length; i++) {
                                this.clients.push({ name: response.data.data[i].name, phone: response.data.data[i].phone, adress: response.data.data[i].adress, salary: response.data.data[i].salary })
                                for (j = 0; j < this.services.length; j++) {
                                    this.statuses.push(response.data.data[i].statuses[j])
                                }
                            }
                        }
                        app.index = -1;
                        app.indexExpanded = -1;
                    })
            },

        },
        created: function () {
            window.onbeforeunload = () => {
                this.socketServer.emit('disconnect');
            }
            this.socketServer.on('health_update', (data) => {
                console.log("Recievede update on health")
                if (data[this.towerName] == -5000) {
                    this.enemyTowerHealth = data[this.enemyTowerName]
                }
                else {
                    this.towerDefenders = data[this.towerName + " Defenders"];
                    this.towerHealth = data[this.towerName]

                    this.enemyTowerDefenders = data[this.enemyTowerName + " Defenders"];
                    this.enemyTowerHealth = data[this.enemyTowerName]
                }
            });

            this.socketServer.on('health_attacked', () => {
                console.log("Health attacked");
                this.towerDefense -= 100;
                if (this.towerDefense < 0) {
                    this.towerHealth += this.towerDefense;
                    this.towerDefense = 0;
                }
            });

            this.socketServer.on('shield', () => {
                console.log("Shield updated");
                this.towerDefense += 150;
            });
        },
        mounted: function () {
            this.isMore = true;
            test = () => {
                console.log(this.msg);
                this.msg = "Workds"
                console.log(this.msg);
            };
        }

    });
</script>
<style>
    * {
        font-family: 'Noto Sans', sans-serif;
    }

    body {
        background-color: #2c0055;
    }

    .form {
        background-color: greenyellow;
        position: absolute;
        left: 50%;
        bottom: 50%;
        transform: translate(-50%, 50%);
        min-width: min-content;
        min-height: min-content;
        -webkit-animation: expand 3s;

    }

    @-webkit-keyframes expand {
        0% {
            height: 0px
        }

        100% {
            height: 272px;
        }
    }

    .form>div>input {
        border-radius: 99vw;
        width: 300px;
        margin: 20px;
        transition: all 1s ease-in-out;

    }

    .form>div>button {
        margin: 20px;
        margin-left: 35%;
        height: 40px;
        width: 80px;
        background: #2c0055;
        color: white;
        position: relative;
        margin-bottom: 25px;
        border-radius: 32px;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    #login-informations {
        margin-left: 39%;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-size: large;
    }

    #title-quote {
        text-align: center;
        color: white;
        font-size: xx-large;
        font-family: 'Trocchi', serif;
        font-size: 45px;
        font-weight: normal;
        line-height: 48px;
    }

    /* Dropdown Button */
    .dropbtn {
        background-color: transparent;
        padding: 16px;
        border: none;
    }
</style>

</html>