<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.0"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.1/socket.io.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap" rel="stylesheet">
    <link href="styles/manager.css" rel="stylesheet">
    <link href="styles/admin.css" rel="stylesheet">
    <link href="styles/template.css" rel="stylesheet">
</head>

<body>
    <div id="app" class="text-center">
        <div v-if="loggedIn" id="title-quote">
            Welcome {{username}}
        </div>

        <div v-if="loggedIn" class="row">
            <!--
                IF ADMIN VIEW
            -->
            <div v-if="admin">
                <!--
                IF ADMIN VIEW START
                -->
                <div v-if="admindata === 'Start'" class="admin-canvas">
                    <button class="edit-button" @click="adminData(event)">Clients</button>
                    <button class="edit-button" @click="adminData(event)">Services</button>
                    <button class="edit-button" @click="adminData(event)">Managers</button>
                </div>
                <!--
                IF ADMIN VIEW CLIENTS
                -->
                <div v-else-if="admindata === 'Clients'">
                    <div>
                        <a @click="adminPrevious()" class="previous around">&#8249;</a>
                    </div>
                    <ul class="admin-list">
                        <li class="insert-list-item">
                            <div style="flex-basis: 45%;"></div>
                            <div class="insert-client">
                                <p @click="insertClient(event)">Insert Client</p>
                            </div>
                            <div style="flex-basis: 45%;"></div>
                        </li>
                        <li class="content-insert">
                            <div class="col-id"></div>
                            <div class="col-fio"><input placeholder="Name"></div>
                            <div class="col-tel"><input placeholder="Phone"></div>
                            <div class="col-adress"><input placeholder="Adress"></div>
                            <div class="col-job"><input placeholder="Job"></div>
                            <div class="col-salary"><input placeholder="Salary"></div>
                            <div class="col-callback"></div>
                            <div class="col-delete"></div>
                            <div class="col-update">
                                <div class="col-delete">
                                    <div>
                                        <a @click="submitClient(event)" class="update">Insert</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="admin-list-item">
                            <div class="col-id">ID</div>
                            <div class="col-fio">Ф И О</div>
                            <div class="col-tel">Телефон</div>
                            <div class="col-adress">Адрес</div>
                            <div class="col-job">Работа</div>
                            <div class="col-salary">Зарплата</div>
                            <div class="col-callback">Перезвонить</div>
                            <div class="col-delete">Удалить</div>
                            <div class="col-update">Изменить</div>
                        </li>
                        <div class="admin-list" v-for="client in adminclients">
                            <li class="admin-list-item">
                                <div class="col-id">{{client.id}}</div>
                                <div class="col-fio">{{client.fio}}</div>
                                <div class="col-tel">{{client.tel}}</div>
                                <div class="col-adress">{{client.adress}}</div>
                                <div class="col-job">{{client.job}}</div>
                                <div class="col-salary">{{client.salary}}</div>
                                <div class="col-callback">{{client.callBack}}</div>
                                <div class="col-delete">
                                    <div>
                                        <a @click="deleteClient(event)" class="previous">Delete</a>
                                    </div>
                                </div>
                                <div class="col-update">
                                    <a class="update" @click="updateClient(event)" style="margin: 0px;">Update</a>
                                </div>
                            </li>
                            <li class="content" style="margin-bottom: 20px; min-height: 50px;">
                                <div class="col-id"></div>
                                <div class="col-fio"><input placeholder="name"></div>
                                <div class="col-tel"><input placeholder="telephone"></div>
                                <div class="col-adress"><input placeholder="adress"></div>
                                <div class="col-job"><input placeholder="job"></div>
                                <div class="col-salary"><input placeholder="salary"></div>
                                <div class="col-callback"><input type="checkbox" style="margin-top:15px;"> </div>
                                <div class="col-delete"></div>
                                <div class="col-update">
                                    <div class="col-delete">
                                        <div>
                                            <a @click="submitUpdate(event)" class="update">Update</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </div>
                    </ul>
                </div>
                <!--
                IF ADMIN VIEW SERVICES
                -->
                <div v-else-if="admindata === 'Services'">
                    <div>
                        <a @click="adminPrevious()" class="previous around">&#8249;</a>
                    </div>
                    <ul class="admin-list">
                        <li class="insert-list-item">
                            <div style="flex-basis: 45%;"></div>
                            <div class="insert-client">
                                <p @click="insertClient(event)">Insert Service</p>
                            </div>
                            <div style="flex-basis: 45%;"></div>
                        </li>
                        <li class="content-insert">
                            <div class="col-id-service"></div>
                            <div class="col-service"><input placeholder="Service"></div>
                            <div class="col-service-desc"><input placeholder="Service description"
                                    style="min-width: 500px;"></div>
                            <div class="col-insert-service">
                                <div class="col-delete">
                                    <div>
                                        <a @click="submitService(event)" class="update">Insert</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-insert-service"></div>
                        </li>
                        <li class="admin-list-item">
                            <div class="col-id-service">ID</div>
                            <div class="col-service">Услуга</div>
                            <div class="col-service-desc">Описание</div>
                            <div class="col-insert-service">Удалить</div>
                        </li>
                        <div class="admin-list" v-for="service in adminservices">
                            <li class="admin-list-item">
                                <div class="col-id-service">{{service.id}}</div>
                                <div class="col-service">{{service.service}}</div>
                                <div class="col-service-desc">{{service.serviceDescription}}</div>
                                <div class="col-insert-service">
                                    <div>
                                        <a @click="deleteClient(event)" class="previous">Delete</a>
                                    </div>
                                </div>
                            </li>
                        </div>
                    </ul>
                </div>
                <!--
                IF ADMIN VIEW MANAGERS
                -->
                <div v-else-if="admindata === 'Managers'">
                    <div>
                        <a @click="adminPrevious()" class="previous around">&#8249;</a>
                    </div>
                    <div class="table-div">
                        <table class="styled-table">
                            <thead>
                                <th>
                                    Менаджер
                                </th>
                                <th>
                                    Удалить
                                </th>
                                <th>

                                </th>
                            </thead>
                            <tbody v-for="manager in adminmanagers">
                                <tr>
                                    <td>
                                        {{manager.name}}
                                    </td>
                                    <td>
                                        <a @click="deleteRole(event)" class="previous">Delete</a>
                                    </td>
                                    <td>

                                    </td>
                                </tr>
                            </tbody>
                            <tr>
                                <td>
                                    <input placeholder="name">
                                </td>
                                <td>
                                    <input placeholder="password">
                                </td>
                                <td>
                                    <a @click="addRole(event)" class="previous" style="background-color: green;">Add</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <!--
                ***************
                IF MANAGER VIEW
                ***************
            -->
            <div v-else-if="manager" class="manager">
                <div>
                    <ul class="responsive-table">
                        <li class="table-header" style="margin-bottom: 25px;">
                            <div class="col col-1">Ф И О</div>
                            <div class="col col-2">Телефон</div>
                            <div class="col col-3">Адрес проживания</div>
                            <div class="col col-4">Зарплата</div>
                            <div class="col col-5" style="padding-top: 15px;">Услуги</div>
                            <div class="col col-6" style="padding-top: 15px;">Еще</div>
                        </li>
                        <div v-for="client in clients" class="responsive-table">
                            <li class="table-row">
                                <div class="col col-1">{{client.name}}</div>
                                <div class="col col-2">{{client.phone}}</div>
                                <div class="col col-3">{{client.adress}}</div>
                                <div class="col col-4">{{client.salary}} &#8381</div>
                                <div class="col col-5">
                                    <div class="dropdown">
                                        <button class="dropbtn">•••</button>
                                        <div class="dropdown-content">
                                            <table v-for="service in services">
                                                <tr>
                                                    <td style="min-width: 200px;">{{service}}</td>
                                                    <td style="text-align: right;">
                                                        <img :src="getStatus()" />
                                                    </td>
                                                </tr>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col col-6" style="font-size: larger;">
                                    <button class="collapsible" @click="more(event)">+</button>
                                </div>
                            </li>
                            <div class="content" v-if="isMore">
                                <table style="min-width: 100%;" v-for="service in services">
                                    <tr class="content-table">
                                        <td class="content-col1">{{service}}</td>
                                        <td class="content-col2">
                                            <label class="switch" v-html="getStatusExpanded()">
                                            </label>
                                        </td>
                                    </tr>
                                </table>
                                <div style="min-height: 50px;">
                                    <button @click="submitChanges(event)" class="submitbutton"
                                        style="position: absolute; right: 20px;">Apply</button>
                                </div>
                            </div>
                    </ul>
                </div>
            </div>
        </div>
        <div v-else>
            <form>
                <div class="form">
                    <div id="login-informations">
                        <span v-for="item in loginInformations">
                            <span v-html="item"></span>
                        </span>
                    </div>
                    <div>
                        <input v-model="username" autocomplete="off" id="username" placeholder="Username"><br>
                        <input v-model="password" id="password" placeholder="Password"><br>
                        <button type="button" class="btn btn-primary" @click="submitNick">Log
                            In</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
<script>
    var socket = io({ upgrade: false });
    var app = new Vue({
        el: '#app',
        data: {
            admin: false,
            manager: false,
            loggedIn: false,
            loginInformations: ['<p>LogIn<p>'],
            clients: [],
            adminclients: [],
            adminservices: [],
            adminmanagers: [],
            statuses: [],
            services: [],
            socketServer: socket,
            username: '',
            password: '',
            imagePath: '/img/',
            isMore: false,
            admindata: 'Start'
        },
        methods: {
            submitNick() {
                var instance = axios.create({ headers: { "Access-Control-Allow-Headers": "*", "Access-Control-Allow-Credentials": "*", "Access-Control-Allow-Origin": "*" } })
                instance.post('http://localhost:1337/user', {
                    username: this.username,
                    password: this.password
                })
                    .then((response) => {
                        if (response.data.error) {
                            this.loginInformations.push('<p style="margin-left: -50px; color: red">Incorrect username<br>or passwrod!<p>')
                            setTimeout(() => { this.loginInformations.pop(1) }, 3000);
                            return;
                        }

                        if (response.data.admin) {
                            this.socketServer.io.uri = "http://localhost:3300";
                            this.admin = true;
                        }
                        else {
                            this.socketServer.io.uri = "http://localhost:3000";
                            this.manager = true;
                        }
                        this.socketServer.emit('connect');
                        this.loggedIn = true;

                        if (this.manager) {
                            this.services = response.data.services;
                            for (i = 0; i < response.data.data.length; i++) {
                                this.clients.push({ name: response.data.data[i].name, phone: response.data.data[i].phone, adress: response.data.data[i].adress, salary: response.data.data[i].salary })
                                for (j = 0; j < this.services.length; j++) {
                                    this.statuses.push(response.data.data[i].statuses[j])
                                }
                            }
                        }
                        app.index = -1;
                        app.indexExpanded = -1;
                    })
            },
            more(event) {
                this.extracted = []
                var parentSender = event.target.parentElement
                var grandparentSender = parentSender.parentElement
                var content = grandparentSender.nextElementSibling;
                displayStyle = getComputedStyle(content).display
                if (displayStyle === "none")
                    content.style.display = "block";
                else
                    content.style.display = "none";

                var status = parentSender.previousElementSibling.childNodes[0].childNodes[2].childNodes;
                statuses = []
                for (i = 0; i < status.length; i++) {
                    statuses.push(status[i].getElementsByTagName("img")[0].src.split("/").pop());
                }
                statuses.forEach(element => this.extracted.push(element.split('.')[0].replace("%20", " ")));
            },
            getStatus() {
                if (this.index === this.statuses.length - 1)
                    this.index = -1;
                this.index++;
                return this.imagePath + this.statuses[this.index] + ".png";
            },
            getStatusExpanded() {
                if (this.indexExpanded === this.statuses.length - 1)
                    this.indexExpanded = -1;
                this.indexExpanded++;
                if (this.statuses[this.indexExpanded] === "yes")
                    return '<input type = "checkbox"" checked disabled ><span class="slider round" style="box-shadow: 0 0 1px #2196F3; background-color: green;"></span>';
                else if (this.statuses[this.indexExpanded] === "no")
                    return '<input type = "checkbox" disabled ><span class="slider round" style="box-shadow: 0 0 1px #2196F3; background-color: red;"></span>';
                else
                    return '<input type = "checkbox" ><span onclick="changeStatus(event)" class="slider round"></span>';
            },
            submitChanges(event) {
                var parent = event.target.parentElement.parentElement;
                var parentNodes = parent.childNodes
                var name = parent.parentElement.childNodes[0].childNodes[0].innerText
                var phoneNumber = parent.parentElement.childNodes[0].childNodes[2].innerText
                var inputs = []
                var spans = []
                var data = {}
                var update = {};
                var updated = []
                for (i = 0; i < this.services.length; i++) {
                    inputs.push(parentNodes[i].childNodes[0].childNodes[0].childNodes[2].childNodes[0].childNodes[0]);
                    spans.push(parentNodes[i].childNodes[0].childNodes[0].childNodes[2].childNodes[0].childNodes[1]);
                }
                for (i = 0; i < this.services.length; i++) {
                    if (inputs[i].disabled === true)
                        update.update = false;
                    else {
                        update.update = true;
                        update.service = this.services[i];
                        if (spans[i].style.backgroundColor == "green")
                            update.status = "yes"
                        else if (spans[i].style.backgroundColor == "red")
                            update.status = "no"
                        else
                            update.update = false;
                    }
                    updated.push(update)
                    update = {}
                }
                data.clientname = name;
                data.clientnumber = phoneNumber;
                data.updated = updated;

                var instance = axios.create({ headers: { "Access-Control-Allow-Headers": "*", "Access-Control-Allow-Credentials": "*", "Access-Control-Allow-Origin": "*" } })
                instance.put('http://localhost:1337/update', {
                    clientname: data.clientname,
                    clientnumber: data.clientnumber,
                    updated: data.updated,
                    username: this.username,
                    password: this.password
                })
                    .then((response) => {
                        if (response.data.error) {
                            window.alert("Error ocured, not updated");
                        }
                        else {
                            for (i = 0; i < this.services.length; i++) {
                                if (inputs[i].disabled === false)
                                    if (spans[i].style.backgroundColor == "green" || spans[i].style.backgroundColor == "red") {
                                        inputs[i].disabled = true;
                                        spans[i].onclick = function () { return false; }
                                    }
                            }
                        }
                    })
            },
            adminData(event, admindata) {
                this.adminclients = [];
                this.adminservices = [];
                this.adminmanagers = [];
                if (event !== null)
                    this.admindata = event.target.innerText;
                else
                    this.admindata = admindata
                var instance = axios.create({ headers: { "Access-Control-Allow-Headers": "*", "Access-Control-Allow-Credentials": "*", "Access-Control-Allow-Origin": "*" } })
                instance.get('http://localhost:1337/' + this.admindata.toLowerCase())
                    .then((response) => {
                        if (!response.data) {
                            window.alert("Error ocured, not updated");
                        }
                        else {
                            if (this.admindata === "Clients")
                                for (i = 0; i < response.data.length; i++)
                                    this.adminclients.push({ id: response.data[i].id_, fio: response.data[i].fio, tel: response.data[i].tel, job: response.data[i].job, salary: response.data[i].salary, adress: response.data[i].homeadress, callBack: response.data[i].call_back })
                            else if (this.admindata === "Services")
                                for (i = 0; i < response.data.length; i++)
                                    this.adminservices.push({ id: response.data[i].id_, service: response.data[i].service, serviceDescription: response.data[i].service_description })
                            else if (this.admindata === "Managers")
                                for (i = 0; i < response.data.length; i++)
                                    this.adminmanagers.push({ name: response.data[i].username })
                        }
                    })
            },
            adminPrevious() {
                this.adminclients = [];
                this.adminservices = [];
                this.adminmanagers = [];
                this.admindata = 'Start';
            },
            deleteClient(event) {
                var id = parseInt(event.target.parentElement.parentElement.parentElement.childNodes[0].innerText);
                if (confirm("Are you sure")) {
                    var instance = axios.create({ headers: { "Access-Control-Allow-Headers": "*", "Access-Control-Allow-Credentials": "*", "Access-Control-Allow-Origin": "*" } })
                    instance.put('http://localhost:1337/delete/' + this.admindata.toLowerCase(), {
                        id_: id,
                    })
                        .then((response) => {
                            if (!response.data) {
                                window.alert("Error ocured, not updated");
                            }
                            else {
                                this.adminData(null, this.admindata);
                                console.log("Deleted");
                            }
                        })
                }
                else {
                    console.log("No")
                }
            },
            updateClient(event) {
                var li = event.target.parentElement.parentElement.nextElementSibling;
                displayStyle = getComputedStyle(li).display
                if (displayStyle == "none")
                    li.style.display = "flex";
                else
                    li.style.display = "none";
            },
            submitUpdate(event) {
                var parent = event.target.parentElement.parentElement.parentElement.parentElement;
                var id = parent.parentElement.childNodes[0].childNodes[0].innerText
                var data = parent.childNodes;
                //(2,4,6,8,10,12) (fio,phone,adress,job,salary,callBack)
                var instance = axios.create({ headers: { "Access-Control-Allow-Headers": "*", "Access-Control-Allow-Credentials": "*", "Access-Control-Allow-Origin": "*" } })
                instance.put('http://localhost:1337/update/' + this.admindata.toLowerCase(), {
                    id_: id,
                    fio: data[2].childNodes[0].value,
                    tel: data[4].childNodes[0].value,
                    homeadress: data[6].childNodes[0].value,
                    job: data[8].childNodes[0].value,
                    salary: data[10].childNodes[0].value,
                    call_back: data[12].childNodes[0].checked
                })
                    .then((response) => {
                        if (!response.data) {
                            window.alert("Error ocured, not updated");
                        }
                        else {
                            this.adminData(null, "Clients");
                            console.log("updated")
                        }
                    })
            },
            insertClient(event) {
                var next = event.target.parentElement.parentElement.nextElementSibling
                displayStyle = getComputedStyle(next).display
                if (displayStyle == "none")
                    next.style.display = "flex";
                else
                    next.style.display = "none";
            },
            submitClient(event) {
                var next = event.target.parentElement.parentElement.parentElement.parentElement
                var arr = [2, 4, 6, 8, 10]
                for (i = 0; i < arr.length; i++) {
                    if (next.childNodes[arr[i]].childNodes[0].value === "") {
                        alert("Please fill all the fields");
                        return 0;
                    }
                }
                var instance = axios.create({ headers: { "Access-Control-Allow-Headers": "*", "Access-Control-Allow-Credentials": "*", "Access-Control-Allow-Origin": "*" } })
                instance.put('http://localhost:1337/insert/clients', {
                    fio: next.childNodes[2].childNodes[0].value,
                    tel: next.childNodes[4].childNodes[0].value,
                    homeadress: next.childNodes[6].childNodes[0].value,
                    job: next.childNodes[8].childNodes[0].value,
                    salary: next.childNodes[10].childNodes[0].value
                })
                    .then((response) => {
                        if (!response.data) {
                            window.alert("Error ocured, not inserted");
                        }
                        else {
                            this.adminData(null, "Clients");
                            window.alert("Inserted new client!");
                            next.childNodes[2].childNodes[0].value = ""
                            next.childNodes[4].childNodes[0].value = ""
                            next.childNodes[6].childNodes[0].value = ""
                            next.childNodes[8].childNodes[0].value = ""
                            next.childNodes[10].childNodes[0].value = ""
                        }
                    })
            },
            submitService(event) {
                var next = event.target.parentElement.parentElement.parentElement.parentElement
                var arr = [2, 4]
                for (i = 0; i < arr.length; i++) {
                    if (next.childNodes[arr[i]].childNodes[0].value === "") {
                        alert("Please fill all the fields");
                        return 0;
                    }
                }
                var instance = axios.create({ headers: { "Access-Control-Allow-Headers": "*", "Access-Control-Allow-Credentials": "*", "Access-Control-Allow-Origin": "*" } })
                instance.put('http://localhost:1337/insert/services', {
                    service: next.childNodes[2].childNodes[0].value,
                    service_description: next.childNodes[4].childNodes[0].value,
                })
                    .then((response) => {
                        if (!response.data) {
                            window.alert("Error ocured, not inserted");
                        }
                        else {
                            this.adminData(null, "Services");
                            window.alert("Inserted new service!");
                            next.childNodes[2].childNodes[0].value = ""
                            next.childNodes[4].childNodes[0].value = ""
                        }
                    })

            },
            addRole(event) {
                var row = event.target.parentElement.parentElement;
                if (row.childNodes[0].childNodes[0].value == "" || row.childNodes[2].childNodes[0].value == "") {
                    alert("Please fill all the fields");
                    return 0;
                }
                var instance = axios.create({ headers: { "Access-Control-Allow-Headers": "*", "Access-Control-Allow-Credentials": "*", "Access-Control-Allow-Origin": "*" } })
                instance.put('http://localhost:1337/insert/role', {
                    username: row.childNodes[0].childNodes[0].value,
                    password: row.childNodes[2].childNodes[0].value
                })
                    .then((response) => {
                        if (!response.data) {
                            window.alert("Error ocured, not inserted");
                        }
                        else {
                            this.adminData(null, "Managers");
                            window.alert("Inserted new manager!");
                            row.childNodes[0].childNodes[0].value = ""
                            row.childNodes[2].childNodes[0].value = ""
                        }
                    })

            },
            deleteRole(event) {

                var row = event.target.parentElement.parentElement

                var instance = axios.create({ headers: { "Access-Control-Allow-Headers": "*", "Access-Control-Allow-Credentials": "*", "Access-Control-Allow-Origin": "*" } })
                instance.put('http://localhost:1337/delete/role', {
                    username: row.childNodes[0].innerText,
                })
                    .then((response) => {
                        if (!response.data) {
                            window.alert("Error ocured, not deleted");
                        }
                        else {
                            this.adminData(null, "Managers");
                        }
                    })
            }
        },
        created: function () {
            window.onbeforeunload = () => {
                this.socketServer.emit('disconnect');
            }
        },
        mounted: function () {
            this.isMore = true;
            changeStatus = (event) => {
                var background = event.target.style.backgroundColor;
                if (background === "green")
                    event.target.style.backgroundColor = "red";
                else
                    event.target.style.backgroundColor = "green"
            };
        }

    });
</script>

</html>